.intro-section {
  padding: 40px 0;
  .intro-content {
    .title {
      font-size: 50px;
      font-weight: 800;
      color: $color-secondary;
    }
    .prag {
      padding: 24px 0;
    }
  }
}

.mission-section {
  .mission-box {
    background-image: url("../img/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    border-radius: 30px 0 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0 0 14px rgba($color-black, 0.2);
    overflow: hidden;
    @include after("") {
      z-index: -1;
      inset: 0;
      background-color: rgba($color-black, 0.1);
    }
    .title {
      padding: 0 0 12px;
      font-size: 40px;
      font-weight: 700;
      color: $color-white;
    }
    .prag {
      color: $color-white;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .objective-box {
    .objective-title {
      font-size: 24px;
      font-weight: 500;
      color: rgba($color-black, 1);
      padding-bottom: 12px;
    }
    .prag {
      text-align: justify;
      font-size: 13px;
    }
  }
}

.register-section {
  padding: 60px 0;
  background-color: rgba($color-secondary, 0.1);
  position: relative;
  .register-box {
    padding: 40px 24px 0;
    border: 1px solid rgba($color-secondary, 1);
    text-align: center;
    border-radius: 10px;
    &.border-0 {
      border: 0 !important;
    }
    .title {
      font-size: 28px;
      color: rgba($color-black, 1);
    }
    .prag {
      font-size: 13px;
      width: 80%;
      margin: 12px auto;
    }
    .button-box {
      margin: 0 auto 24px;
      a {
        margin: 0 auto;
        width: 50%;
      }
    }
    img {
      height: 200px;
    }
  }
}

.event-section {
  .event-slider {
    .event-slider-item {
      width: calc(100% - 20px) !important;
      .event-box {
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid rgba($color-black, 0.1);
        .img-box {
          img {
            height: 200px;
            object-fit: cover;
            width: 100%;
          }
        }
        .event-box-content {
          padding: 12px;
          .title {
            font-size: 14px;
            font-weight: 500;
            color: rgba($color-primary, 1);
          }
          .prag {
            padding: 12px 0;
            color: rgba($color-black, 1);
          }
          .more {
            font-size: 16px;
            font-weight: 600;
            color: rgba($color-secondary, 1);
            i {
              padding: 0 10px;
            }
            @include hover(0.2) {
              color: rgba($color-primary, 1);
            }
          }
        }
      }
    }
  }
}
