.intro-section {
  padding: 40px 0;
  .intro-content {
    .title {
      font-size: 50px;
      font-weight: 800;
      color: $color-secondary;
    }
    .prag {
      padding: 24px 0;
    }
  }
}

.register-section {
  padding: 60px 0;
  background-color: rgba($color-secondary, 0.1);
  position: relative;
  .register-box {
    padding: 40px 24px 0;
    border: 1px solid rgba($color-secondary, 1);
    text-align: center;
    border-radius: 10px;
    &.border-0 {
      border: 0 !important;
    }
    .title {
      font-size: 28px;
      color: rgba($color-black, 1);
    }
    .prag {
      font-size: 13px;
      width: 80%;
      margin: 12px auto;
    }
    .button-box {
      margin: 0 auto 24px;
      a {
        margin: 0 auto;
        width: 50%;
      }
    }
    img {
      height: 200px;
    }
  }
}

.event-section {
  .event-slider {
    .event-slider-item {
      width: calc(100% - 20px) !important;
      .event-box {
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid rgba($color-black, 0.1);
        .img-box {
          img {
            height: 200px;
            object-fit: cover;
            width: 100%;
          }
        }
        .event-box-content {
          padding: 12px;
          .title {
            font-size: 14px;
            font-weight: 500;
            color: rgba($color-primary, 1);
          }
          .prag {
            padding: 12px 0;
            color: rgba($color-black, 1);
          }
          .more {
            font-size: 16px;
            font-weight: 600;
            color: rgba($color-secondary, 1);
            i {
              padding: 0 10px;
            }
            @include hover(0.2) {
              color: rgba($color-primary, 1);
            }
          }
        }
      }
    }
  }
}

.tutor-section {
  .tutor-slider {
    .tutor-slider-item {
      width: calc(100% - 20px) !important;
      .tutor-slider-item-box {
        padding: 24px;
        border-radius: 10px;
        border: 1px solid rgba($color-black, 0.1);
        display: flex;
        .img-box {
          @include dir(rtl) {
            padding-left: 24px;
          }
          @include dir(ltr) {
            padding-right: 24px;
          }
          img {
            border-radius: 10px;
            height: 100px;
            width: 100px;
            object-fit: cover;
          }
        }
        .name {
          font-size: 22px;
          color: rgba($color-black, 1);
          font-weight: 600;
        }
        .prag {
          padding: 12px 0 4px;
          font-size: 14px;
        }
        .price {
          font-size: 20px;
          font-weight: 700;
          color: rgba($color-secondary, 1);
        }
        .link {
          margin-top: 12px;
          font-size: 15px;
          border: 1px solid $color-primary;
          color: rgba($color-primary, 1);
          padding: 6px 12px;
          display: inline-block;
          @include hover(0.2) {
            background-color: rgba($color-primary, 1);
            color: rgba($color-white, 1);
          }
        }
      }
    }
  }
}

.magazen-section {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  margin-top: 40px;
  padding: 60px 0;
  @include after("") {
    inset: 0;
    z-index: -1;
    background-color: rgba($color-black, 0.6);
  }
  .prag {
    text-align: center;
    line-height: 1.7;
    font-size: 23px;
    font-family: "Baloo Bhaijaan 2", cursive;
    color: rgba($color-white, 1);
  }
}

@include media(992) {
  .intro-section {
    .intro-content {
      text-align: center;
      .button-box {
        a {
          margin: 0 auto;
        }
      }
    }
  }
  .magazen-section {
    .prag {
      font-size: 16px;
    }
  }
}

@include media(772) {
  .intro-section {
    .intro-content {
      .title {
        font-size: 40px;
      }
      .prag {
        font-size: 20px;
      }
    }
  }
}
