@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
:root {
  --font: "Dosis", sans-serif;
}

html [dir=rtl] {
  --font: "Baloo Bhaijaan 2", cursive;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}
html[dir=rtl] body {
  font-family: "El Messiri", sans-serif;
}
html[dir=ltr] body {
  font-family: "Gothic A1";
}

.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-padding {
  padding: 40px 0;
}

.section-margin {
  margin: 40px 0;
}

.header-section {
  padding: 24px 0;
}
.header-section .logo-box a img {
  height: 60px;
}
.header-section .nav-box {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.header-section .nav-box .button-box:first-of-type {
  padding: 0 12px;
}
.header-section .nav-box ul {
  justify-content: flex-end;
  display: flex;
}
.header-section .nav-box ul li {
  padding: 0 12px;
}
.header-section .nav-box ul li a {
  font-size: 16px;
  font-weight: 800;
  color: #5f5f61;
  transition: 0.2s all ease-in-out;
}
.header-section .nav-box ul li a:hover {
  color: #bb9d76;
}

.intro-section {
  padding: 40px 0;
}
.intro-section .intro-content .title {
  font-size: 50px;
  font-weight: 800;
  color: #bb9d76;
}
.intro-section .intro-content .prag {
  padding: 24px 0;
}

.mission-section .mission-box {
  background-image: url("../img/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  border-radius: 30px 0 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.mission-section .mission-box::after {
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.mission-section .mission-box .title {
  padding: 0 0 12px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.mission-section .mission-box .prag {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.mission-section .objective-box .objective-title {
  font-size: 24px;
  font-weight: 500;
  color: black;
  padding-bottom: 12px;
}
.mission-section .objective-box .prag {
  text-align: justify;
  font-size: 13px;
}

.register-section {
  padding: 60px 0;
  background-image: url("../img/register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.register-section .student-img {
  position: absolute;
  bottom: 0;
  left: 2px;
  height: 200px;
}
.register-section .register-box {
  text-align: center;
}
html[dir=rtl] .register-section .register-box {
  border-right: 1px solid #fff;
}
html[dir=ltr] .register-section .register-box {
  border-left: 1px solid #fff;
}
.register-section .register-box.border-0 {
  border: 0 !important;
}
.register-section .register-box .title {
  font-size: 28px;
  color: white;
}
.register-section .register-box .button-box {
  margin: 24px auto 0;
}
.register-section .register-box .button-box a {
  margin: 0 auto;
  width: 50%;
}

.title-font {
  font-family: var(--font);
}

.prag {
  font-size: 20px;
  font-weight: 500;
  color: #5f5f61;
}

.title-box.text-center .title:after {
  left: 50%;
  transform: translateX(-50%);
}
.title-box.white-font .title {
  color: #fff;
}
.title-box.white-font .title:after {
  background-color: #fff;
}
.title-box .title {
  font-size: 30px;
  font-weight: 700;
  color: #bb9d76;
  padding-bottom: 12px;
  display: inline-block;
  margin: 0 0 12px;
  position: relative;
  z-index: 1;
}
.title-box .title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0%;
  width: 50%;
  height: 4px;
  background-color: #bb9d76;
  border-radius: 5px 0 5px 0;
}
.title-box .prag {
  font-size: 16px;
}

.button-box.border-item a {
  background-color: transparent;
  color: #5f5f61;
  transition: 0.2s all ease-in-out;
}
.button-box.border-item a:hover {
  background-color: #5f5f61;
  color: #fff;
}
.button-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-color: #bb9d76;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 17px;
  border-radius: 50px;
  font-weight: 600;
  font-family: var(--font);
  border: 1px solid #bb9d76;
  transition: 0.2s all ease-in-out;
}
html[dir=ltr] .button-box a {
  letter-spacing: 1px;
}
.button-box a:hover {
  border: 1px solid #5f5f61;
  background-color: #5f5f61;
}