@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
:root {
  --font: "Dosis", sans-serif;
}

html [dir=rtl] {
  --font: "Baloo Bhaijaan 2", cursive;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}
html[dir=rtl] body {
  font-family: "El Messiri", sans-serif;
}
html[dir=ltr] body {
  font-family: "Gothic A1";
}

.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-padding {
  padding: 20px 0;
}

.section-margin {
  margin: 20px 0;
}

.header-section {
  padding: 24px 0;
}
.header-section .logo-box a img {
  height: 60px;
}
.header-section .nav-box {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.header-section .nav-box .button-box:first-of-type {
  padding: 0 12px;
}
.header-section .nav-box ul {
  justify-content: flex-end;
  display: flex;
}
.header-section .nav-box ul li {
  padding: 0 12px;
}
.header-section .nav-box ul li a {
  font-size: 16px;
  font-weight: 800;
  color: #5f5f61;
  transition: 0.2s all ease-in-out;
}
.header-section .nav-box ul li a:hover {
  color: #bb9d76;
}
html[dir=rtl] .header-section .nav-box .menu-box {
  padding-right: 24px;
}
html[dir=ltr] .header-section .nav-box .menu-box {
  padding-left: 24px;
}
.header-section .nav-box .menu-box i {
  cursor: pointer;
  font-size: 25px;
  color: #bb9d76;
}

.menu-content {
  position: fixed;
  z-index: 9999;
  background-color: #333;
  inset: 0;
  padding: 40px 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}
.menu-content.open {
  opacity: 1;
  visibility: visible;
}
.menu-content.open .nav-box ul li {
  transform: translateY(0);
  opacity: 1;
}
.menu-content .img-logo {
  z-index: -1;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-content .close-link {
  padding-bottom: 40px;
  text-align: end;
}
.menu-content .close-link h4 {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.menu-content .nav-box ul li {
  padding-bottom: 24px;
  transition: 0.3s all ease-in-out;
  transform: translateY(20px);
  opacity: 0.6;
}
.menu-content .nav-box ul li a {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
.menu-content .nav-box ul li a:hover {
  color: #bb9d76;
}

.footer-section {
  padding: 40px 0;
}
.footer-section .footer-list-box {
  padding-bottom: 12px;
}
.footer-section .footer-list-box .logo-box {
  padding: 0 0 12px;
}
.footer-section .footer-list-box .logo-box img {
  height: 80px;
}
.footer-section .footer-list-box .prag {
  font-size: 12px;
}
.footer-section .footer-list-box .footer-title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 0 0 24px;
}
.footer-section .footer-list-box ul.social-media-list {
  display: flex;
}
html[dir=rtl] .footer-section .footer-list-box ul.social-media-list li {
  padding: 0 0 0 12px;
}
html[dir=ltr] .footer-section .footer-list-box ul.social-media-list li {
  padding: 0 12px 0 0;
}
.footer-section .footer-list-box ul.social-media-list li a {
  font-size: 20px;
}
.footer-section .footer-list-box ul li {
  padding: 0 0 12px;
}
.footer-section .footer-list-box ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #5f5f61;
  transition: 0.2s all ease-in-out;
}
.footer-section .footer-list-box ul li a:hover {
  color: #000;
}

.copy-right-footer {
  padding: 20px;
  border-top: 1px solid #888;
}
.copy-right-footer .prag {
  font-size: 13px;
  font-weight: 600;
}
.copy-right-footer ul {
  justify-content: flex-end;
}
html[dir=rtl] .copy-right-footer ul li {
  padding: 0 0 0 12px;
}
html[dir=ltr] .copy-right-footer ul li {
  padding: 0 12px 0 0;
}
.copy-right-footer ul li a {
  font-size: 13px;
  font-weight: 600;
  color: #5f5f61;
}

.intro-section {
  padding: 40px 0;
}
.intro-section .intro-content .title {
  font-size: 50px;
  font-weight: 800;
  color: #bb9d76;
}
.intro-section .intro-content .prag {
  padding: 24px 0;
}

.register-section {
  padding: 60px 0;
  background-color: rgba(187, 157, 118, 0.1);
  position: relative;
}
.register-section .register-box {
  padding: 40px 24px 0;
  border: 1px solid #bb9d76;
  text-align: center;
  border-radius: 10px;
}
.register-section .register-box.border-0 {
  border: 0 !important;
}
.register-section .register-box .title {
  font-size: 28px;
  color: black;
}
.register-section .register-box .prag {
  font-size: 13px;
  width: 80%;
  margin: 12px auto;
}
.register-section .register-box .button-box {
  margin: 0 auto 24px;
}
.register-section .register-box .button-box a {
  margin: 0 auto;
  width: 50%;
}
.register-section .register-box img {
  height: 200px;
}

.event-section .event-slider .event-slider-item {
  width: calc(100% - 20px) !important;
}
.event-section .event-slider .event-slider-item .event-box {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.event-section .event-slider .event-slider-item .event-box .img-box img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.event-section .event-slider .event-slider-item .event-box .event-box-content {
  padding: 12px;
}
.event-section .event-slider .event-slider-item .event-box .event-box-content .title {
  font-size: 14px;
  font-weight: 500;
  color: #5f5f61;
}
.event-section .event-slider .event-slider-item .event-box .event-box-content .prag {
  padding: 12px 0;
  color: black;
}
.event-section .event-slider .event-slider-item .event-box .event-box-content .more {
  font-size: 16px;
  font-weight: 600;
  color: #bb9d76;
  transition: 0.2s all ease-in-out;
}
.event-section .event-slider .event-slider-item .event-box .event-box-content .more i {
  padding: 0 10px;
}
.event-section .event-slider .event-slider-item .event-box .event-box-content .more:hover {
  color: #5f5f61;
}

.tutor-section .tutor-slider .tutor-slider-item {
  width: calc(100% - 20px) !important;
}
.tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box {
  padding: 24px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
}
html[dir=rtl] .tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box .img-box {
  padding-left: 24px;
}
html[dir=ltr] .tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box .img-box {
  padding-right: 24px;
}
.tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box .img-box img {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box .name {
  font-size: 22px;
  color: black;
  font-weight: 600;
}
.tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box .prag {
  padding: 12px 0 4px;
  font-size: 14px;
}
.tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box .price {
  font-size: 20px;
  font-weight: 700;
  color: #bb9d76;
}
.tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box .link {
  margin-top: 12px;
  font-size: 15px;
  border: 1px solid #5f5f61;
  color: #5f5f61;
  padding: 6px 12px;
  display: inline-block;
  transition: 0.2s all ease-in-out;
}
.tutor-section .tutor-slider .tutor-slider-item .tutor-slider-item-box .link:hover {
  background-color: #5f5f61;
  color: white;
}

.mission-section .min-box {
  padding: 24px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.mission-section .min-box img {
  height: 80px;
}
.mission-section .min-box .title {
  font-size: 20px;
  padding: 12px 0;
  font-weight: 800;
  color: #bb9d76;
}
.mission-section .min-box .prag {
  font-size: 14px;
}
.mission-section .mission-box {
  background-image: url("../img/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  border-radius: 30px 0 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.mission-section .mission-box::after {
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.mission-section .mission-box .title {
  padding: 0 0 12px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.mission-section .mission-box .prag {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.mission-section .objective-box .objective-title {
  font-size: 24px;
  font-weight: 500;
  color: black;
  padding-bottom: 12px;
}
.mission-section .objective-box .prag {
  text-align: justify;
  font-size: 13px;
}

.title-font {
  font-family: var(--font);
}

.prag {
  font-size: 20px;
  font-weight: 500;
  color: #5f5f61;
}

.title-box.text-center .title:after {
  left: 50%;
  transform: translateX(-50%);
}
.title-box.white-font .title {
  color: #fff;
}
.title-box.white-font .title:after {
  background-color: #fff;
}
.title-box .title {
  font-size: 30px;
  font-weight: 700;
  color: #bb9d76;
  padding-bottom: 12px;
  display: inline-block;
  margin: 0 0 12px;
  position: relative;
  z-index: 1;
}
.title-box .title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0%;
  width: 50%;
  height: 4px;
  background-color: #bb9d76;
  border-radius: 5px 0 5px 0;
}
.title-box .prag {
  font-size: 16px;
}

.button-box.border-item a {
  background-color: transparent;
  color: #5f5f61;
  transition: 0.2s all ease-in-out;
}
.button-box.border-item a:hover {
  background-color: #5f5f61;
  color: #fff;
}
.button-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-color: #bb9d76;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 17px;
  border-radius: 50px;
  font-weight: 600;
  font-family: var(--font);
  border: 1px solid #bb9d76;
  transition: 0.2s all ease-in-out;
}
html[dir=ltr] .button-box a {
  letter-spacing: 1px;
}
.button-box a:hover {
  border: 1px solid #5f5f61;
  background-color: #5f5f61;
}

.intro-section {
  padding: 60px 0;
  background-image: url("../img/bg-img.png");
  text-align: center;
}
.intro-section .title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}