// title font En

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

// paragraph font En

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");

// title font Ar
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

// paragraph font En

@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  @include dir(rtl) {
    font-family: "El Messiri", sans-serif;
  }
  @include dir(ltr) {
    font-family: "Gothic A1";
  }
}
