.header-section {
  padding: 24px 0;
  .logo-box {
    a {
      img {
        height: 60px;
      }
    }
  }
  .nav-box {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    .button-box {
      &:first-of-type {
        padding: 0 12px;
      }
    }
    ul {
      justify-content: flex-end;
      display: flex;
      li {
        padding: 0 12px;
        a {
          font-size: 16px;
          font-weight: 800;
          color: $color-primary;
          @include hover(0.2) {
            color: $color-secondary;
          }
        }
      }
    }
    .menu-box {
      @include dir(rtl) {
        padding-right: 24px;
      }
      @include dir(ltr) {
        padding-left: 24px;
      }
      i {
        cursor: pointer;
        font-size: 25px;
        color: $color-secondary;
      }
    }
  }
}

.menu-content {
  position: fixed;
  z-index: 9999;
  background-color: #333;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  padding: 60px 20px;
  opacity: 0;
  visibility: hidden;
  @include hover(0.2);
  &.open {
    opacity: 1;
    visibility: visible;
    .nav-box {
      ul {
        li {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  .close-link {
    padding-bottom: 40px;
    text-align: end;
    h4 {
      cursor: pointer;
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .nav-box {
    ul {
      li {
        padding-bottom: 24px;
        @include hover(0.3);
        transform: translateY(20px);
        opacity: 0.6;
        a {
          font-size: 14px;
          font-weight: 600;
          color: $color-white;
          @include hover(0.2) {
            color: $color-secondary;
          }
        }
      }
    }
  }
}

@include media(992) {
  .header-section {
    .nav-box ul {
      display: none;
    }
  }
}
@include media(772) {
  .menu-content{
    width: 220px;
  }
  .header-section {
    .logo-box {
      a {
        img {
          height: unset;
        }
      }
    }
    .nav-box ul {
      display: none;
    }
    .button-box {
      a {
        font-size: 13px;
        padding: 9px 15px;
      }
    }
  }
}
